/* VARIABLES Y MIXING */ /* VARIABLES */
/* MIXIN */
/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
  margin: 20px auto;
  text-shadow: black -3px 0px 5px;
}
@media (min-width: 800px) {
  h1 {
    margin: 40px auto;
    font-size: 45px;
  }
}

h2 {
  font-size: 15px;
  padding: 10px 0px;
  margin-bottom: 0;
}
@media (min-width: 500px) {
  h2 {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  h2 {
    font-size: 25px;
  }
}

.contenedor {
  margin: 40px 10px;
}
@media (min-width: 500px) {
  .contenedor {
    font-size: 20px;
  }
}
@media (min-width: 800px) {
  .contenedor {
    margin: 40px 30px;
    font-size: 23px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    max-width: 1000px;
    margin: 40px auto;
    font-size: 25px;
  }
}

/* HEADER */
.dropdown-menu {
  background-color: #ffe8cc;
  border: solid 1px grey;
}

.dropdown-item {
  padding: 0;
}

.marca {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px 0;
  box-shadow: grey 0px 5px 15px;
  flex-wrap: wrap;
}
.marca .logo {
  display: none;
  align-items: center;
  padding: 0 15px;
}
.marca .logo img {
  width: 50px;
}
@media (min-width: 992px) {
  .marca .logo {
    display: flex;
  }
}
@media (min-width: 992px) {
  .marca {
    padding: 30px 0;
    height: 150px;
    text-align: center;
  }
}

.titulo {
  padding: 0 10px;
  margin: 10px;
}
.titulo p {
  color: bisque;
  margin: 0;
  text-align: center;
}
.titulo p:first-of-type {
  max-height: 55px;
  font-size: 50px;
  color: white;
}

.menu {
  margin: 0 auto;
  background-color: bisque;
  color: black;
  box-shadow: grey 0px 5px 15px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: grey 0px 5px 15px;
}

@media (min-width: 992px) {
  .navbar-dark {
    visibility: hidden;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
nav ul li {
  text-align: center;
  margin: 5px 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
nav ul li a:active {
  color: darksalmon;
}
@media (min-width: 500px) {
  nav ul li {
    margin: 5px 14px;
  }
}
@media (min-width: 992px) {
  nav ul li {
    text-align: center;
    margin: 15px 30px;
  }
}

.container-fluid {
  background-color: bisque;
}

.navbar-dark .navbar-toggler {
  border: 1px solid grey;
}
.navbar-dark .navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem;
}

/* FOOTER */
footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: grey 0px 5px 15px;
}
@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  footer .siguenos {
    margin: 20px 0;
  }
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: none;
  font-size: 30px;
  align-items: center;
  margin: 25px 0;
}
.contenedor-footer .logo img {
  width: 130px;
}
.contenedor-footer .redes img {
  width: 40px;
}
@media (min-width: 800px) {
  .contenedor-footer {
    order: 2;
  }
}

.contenedor-ubicacion, .contenedor-contacto {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  font-size: 15px;
  width: 250px;
  font-weight: bold;
  margin: 25px 0;
}
@media (min-width: 800px) {
  .contenedor-ubicacion, .contenedor-contacto {
    order: 1;
  }
}

@media (min-width: 800px) {
  .contenedor-contacto {
    order: 3;
  }
}

/* INICIO */
.fondo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/model1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: grey 0px 5px 15px;
  background-position: right;
}
@media (min-width: 500px) {
  .fondo {
    height: 500px;
  }
}

.eslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
@media (min-width: 500px) {
  .eslogan {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .eslogan {
    height: 500px;
    width: 450px;
    margin: 0 auto;
  }
}

.esloganFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  align-items: center;
  color: bisque;
  text-align: center;
}
.esloganFlex p {
  font-size: 15px;
  font-style: italic;
  color: beige;
  margin: 0;
}
@media (min-width: 800px) {
  .esloganFlex p {
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .esloganFlex {
    height: 500px;
    width: 100%;
  }
}

.boton {
  background-color: bisque;
  border: none;
  padding: 10px 35px;
  font-size: 20px;
}
.boton a {
  text-decoration: none;
  color: black;
  font-family: "Barlow", sans-serif;
  letter-spacing: 5px;
}
@media (min-width: 992px) {
  .boton a:hover {
    color: darksalmon;
  }
}
@media (min-width: 992px) {
  .boton {
    height: 70px;
    width: 80%;
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .boton:hover {
    -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
  }
}

@media (min-width: 992px) {
  @-webkit-keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
#carouselExampleFade {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  #carouselExampleFade {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  #carouselExampleFade {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  #carouselExampleFade {
    width: 50%;
    margin: 0 auto;
  }
}

.tiposdemate {
  padding: 20px 15px;
}
.tiposdemate p {
  padding: 15px 0;
}
.tiposdemate img {
  box-shadow: grey 0px 5px 15px;
}
.tiposdemate div {
  text-align: center;
}
.tiposdemate .card {
  border-radius: 10px;
  max-width: 450px;
  margin: 30px auto;
}
.tiposdemate .card img {
  border-radius: 10px;
}
@media (min-width: 992px) {
  .tiposdemate .card img {
    width: 100%;
    margin: 0;
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  .tiposdemate .card p {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .tiposdemate .card {
    max-width: none;
    width: 75%;
    margin: 50px auto;
  }
}
@media (min-width: 992px) {
  .tiposdemate .card:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (min-width: 992px) {
  @-webkit-keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
}
.border-img {
  width: 70%;
  border: 1px solid gray;
  margin: 0px auto 30px;
  text-align: center;
}
@media (min-width: 800px) {
  .border-img {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .border-img {
    margin: 30px auto;
  }
}

.carousel-item img {
  border-radius: 5px;
  box-shadow: grey 0px 5px 0px;
}

.card-text {
  font-style: italic;
}

/* PRODUCTOS */
.container {
  width: auto;
}

.productos {
  margin: 0 auto 30px;
  max-width: 410px;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja5" "caja7 caja9" "caja6 caja6" "caja8 caja8";
}
@media (min-width: 500px) {
  .productos {
    max-width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3" "caja4 caja6 caja6" "caja7 caja8 caja8" "caja5 caja5 caja9";
  }
}
@media (min-width: 992px) {
  .productos {
    max-width: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3 caja4" "caja5 caja5 caja6 caja6" "caja7 caja8 caja8 caja9";
  }
}

.productos-style-1 {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "caja10 caja11" "caja12 caja13" "caja14 caja15" "caja16 caja17";
}
@media (min-width: 500px) {
  .productos-style-1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "caja10 caja11 caja12" "caja13 caja14 caja15" "caja16 caja17 none";
  }
}
@media (min-width: 992px) {
  .productos-style-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: stretch;
    grid-template-areas: "caja10 caja11 caja12 caja13" "caja14 caja15 caja16 caja17";
  }
}

.caja {
  text-align: center;
  border: grey solid 1px;
  margin: 10px;
  border-radius: 0.25rem;
}
.caja #carouselExampleFade {
  width: 100%;
}
.caja p {
  font-size: 75%;
  font-weight: 600;
  margin: 0.5rem;
}
.caja img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  box-shadow: grey 0px 5px 15px;
  border-radius: 0;
}
@media (min-width: 500px) {
  .caja img {
    max-height: 225px;
  }
}
@media (min-width: 992px) {
  .caja img {
    max-height: 280px;
  }
}
.caja:hover {
  border: bisque solid 1px;
}
@media (min-width: 992px) {
  .caja:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (min-width: 992px) {
  @-webkit-keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
}
.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}

.caja6 {
  grid-area: caja6;
}

.caja7 {
  grid-area: caja7;
}

.caja8 {
  grid-area: caja8;
}

.caja9 {
  grid-area: caja9;
}

.caja10 {
  grid-area: caja10;
}

.caja11 {
  grid-area: caja11;
}

.caja12 {
  grid-area: caja12;
}

.caja13 {
  grid-area: caja13;
}

.caja14 {
  grid-area: caja14;
}

.caja15 {
  grid-area: caja15;
}

.caja16 {
  grid-area: caja16;
}

.caja17 {
  grid-area: caja17;
}

.titulos {
  text-align: center;
  font-size: 25px;
  margin: 45px auto;
  border: 1px solid grey;
  width: 170px;
}

.btn {
  background-color: bisque;
  border: 1px grey solid;
  color: black;
  margin: 0.5rem;
  font-weight: 800;
}
.btn:hover {
  background-color: bisque;
  border-color: bisque;
}
.btn:focus {
  background-color: bisque;
  border-color: bisque;
  box-shadow: 0 0 0 0.25rem bisque;
}

/* CONTACTO */
#mainContacto {
  font-family: "Barlow", sans-serif;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
}

.fondoContacto {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: grey 0px 5px 15px;
}
@media (min-width: 992px) {
  .fondoContacto {
    background-position: right center;
  }
}

.tituloContacto {
  height: 500px;
}
.tituloContacto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  text-align: center;
  margin: 0 20px;
}
.tituloContacto div h1 {
  margin: 0;
  color: beige;
  font-size: 30px;
  padding-bottom: 45px;
  text-shadow: none;
}
.tituloContacto div p {
  color: beige;
  font-size: 18px;
}
@media (min-width: 992px) {
  .tituloContacto {
    height: 500px;
    width: 800px;
    margin: 0 auto;
  }
}

.contenedorContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: -80px;
}
@media (min-width: 500px) {
  .contenedorContacto {
    flex-wrap: nowrap;
  }
}

.consulta {
  background-color: white;
  max-width: 85%;
  margin: 15px;
}

.contacto {
  background-color: white;
  margin: 15px;
  max-width: 85%;
}

.redesContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.redesContacto p {
  font-size: 18px;
}
.redesContacto img {
  height: 60px;
  width: 60px;
}
.redesContacto div img {
  height: 40px;
  width: 40px;
}
.redesContacto h2 {
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 500px) {
  .redesContacto {
    min-height: 80%;
  }
}
@media (min-width: 992px) {
  .redesContacto {
    height: 350px;
    margin: 0 60px;
  }
}

.botonContacto {
  background-color: bisque;
  font-size: 20px;
  border: grey 1px solid;
  max-width: 70%;
}
.botonContacto a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}
.botonContacto a:hover {
  color: darksalmon;
}

/* NOSOTROS */
.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  margin: 0 15px;
}
@media (min-width: 992px) {
  .quienesSomos p {
    width: 410px;
    font-size: 20px;
    margin: 10px 15px;
  }
}

@media (min-width: 992px) {
  .quienesSomos__segundo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .quienesSomos__segundo .historia-uno {
    order: 1;
  }
  .quienesSomos__segundo .historia-dos {
    order: 3;
  }
  .quienesSomos__segundo .historia-tres {
    order: 5;
  }
  .quienesSomos__segundo .historia-cuatro {
    order: 7;
  }
  .quienesSomos__segundo .historia-cinco {
    order: 2;
  }
  .quienesSomos__segundo .historia-seis {
    order: 4;
  }
  .quienesSomos__segundo .historia-siete {
    order: 6;
  }
  .quienesSomos__segundo .historia-ocho {
    order: 8;
  }
}

.pareja {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pareja img {
  box-shadow: grey 0px 5px 15px;
  border-radius: 30px;
  width: 60%;
  margin: 15px;
}
@media (min-width: 500px) {
  .pareja img {
    width: 40%;
    margin: 10px 15px;
  }
}
@media (min-width: 992px) {
  .pareja img {
    margin: 50px 20px;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.8s;
  }
}
@media (min-width: 992px) {
  .pareja img:hover {
    transform: translateY(-5%);
  }
}

/* CUIDADOS */
.contenedorCuidados {
  margin: 15px;
}
@media (min-width: 500px) {
  .contenedorCuidados {
    max-width: 500px;
    margin: 40px auto;
  }
}
@media (min-width: 800px) {
  .contenedorCuidados {
    max-width: 800px;
  }
}
@media (min-width: 992px) {
  .contenedorCuidados {
    max-width: 992px;
  }
}

.cuidados {
  display: flex;
  flex-direction: column;
  justify-content: none;
  justify-items: center;
  align-items: center;
  margin-bottom: 25px;
}

.cuidados__titulo h2 {
  padding: 10px;
  font-weight: bold;
  border: 2px solid bisque;
  margin: 10px 0;
}
@media (min-width: 992px) {
  .cuidados__titulo h2 {
    font-size: 28px;
  }
}

.text-transition {
  display: flex;
  margin: 15px auto;
  width: 100%;
}
@media (min-width: 992px) {
  .text-transition {
    transition-property: all;
    transition-duration: 0.5s;
  }
}
@media (min-width: 992px) {
  .text-transition:hover {
    transform: translateX(4%);
  }
}

.cuidados__grid {
  display: flex;
  flex-direction: column;
  justify-content: none;
}
.cuidados__grid p {
  margin: 5px;
}
@media (min-width: 992px) {
  .cuidados__grid p {
    font-size: 20px;
  }
}
.cuidados__grid img {
  margin: auto 15px;
}
@media (min-width: 992px) {
  .cuidados__grid {
    width: 100%;
    transition-property: all;
    transition-duration: 0.5s;
  }
}

@media (min-width: 992px) {
  .cuidados__texto {
    font-size: 25px;
  }
}/*# sourceMappingURL=estilos.css.map */