@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

/* MOBILE */
/* HEADER */
.dropdown-menu {
  background-color: #ffe8cc;
  border: solid 1px grey;
}

.dropdown-item {
  padding: 0;
}

.marca {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px 0;
  box-shadow: grey 0px 5px 15px;
  flex-wrap: wrap;
}

.marca .logo {
  display: none;
  align-items: center;
  padding: 0 15px;
}

.marca .logo img {
  width: 50px;
}

.titulo p:first-of-type {
  max-height: 55px;
  font-size: 50px;
  color: white;
}

.titulo {
  padding: 0 10px;
  margin: 10px;
}

.titulo p {
  color: bisque;
  margin: 0;
  text-align: center;
}

.menu {
  margin: 0 auto;
  background-color: bisque;
  color: black;
  box-shadow: grey 0px 5px 15px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: grey 0px 5px 15px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  text-align: center;
  margin: 5px 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav ul li a:active {
  color: darksalmon;
}

/* FOOTER */
footer {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: grey 0px 5px 15px;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
  margin: 25px 0;
}

.contenedor-ubicacion {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  align-items: center;
  width: 250px;
  font-weight: bold;
  margin: 25px 0;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  width: 250px;
  font-weight: bold;
  margin: 25px 0;
}

.contenedor-footer .logo img {
  width: 130px;
}

.contenedor-footer .redes img {
  width: 40px;
}

/* INICIO */
.fondo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/model1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: grey 0px 5px 15px;
  background-position: right;
}

.eslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.esloganFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: bisque;
  width: 80%;
  text-align: center;
}

.esloganFlex p {
  font-size: 15px;
  font-style: italic;
  color: beige;
  margin: 0;
}

.boton {
  background-color: bisque;
  border: none;
  padding: 10px 35px;
  font-size: 20px;
}

.boton a {
  text-decoration: none;
  color: black;
  font-family: "Barlow", sans-serif;
  letter-spacing: 5px;
}

.contenedor {
  margin: 10px;
}

#carouselExampleFade {
  width: 90%;
  margin: 0 auto;
}

.tiposdemate {
  padding: 20px 15px;
}

.tiposdemate p {
  padding: 15px 0;
}

.tiposdemate img {
  box-shadow: grey 0px 5px 15px;
}

.tiposdemate div {
  text-align: center;
}

.tiposdemate .card {
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto;
}

.tiposdemate .card img {
  border-radius: 10px;
}

.border-img {
  width: 70%;
  border: 1px solid gray;
  margin: 0px auto 30px;
  text-align: center;
}

.carousel-item img {
  border-radius: 5px;
  box-shadow: grey 0px 5px 0px;
}

h2 {
  text-align: center;
  margin: 20px auto;
  border: 1px solid gray;
  width: 70%;
  text-shadow: black -3px 0px 5px;
}

/* PRODUCTOS */
.container {
  width: auto;
}

.productos {
  margin: 0 auto 30px;
  max-width: 410px;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja6" "caja7 caja8" "caja9 caja9";
}

.productos-style-1 {
  grid-template-areas: "termos1 termos1" "termos1 termos1" "termos3 termos4" "termos2 termos5" "termos6 termos7";
}

.caja {
  text-align: center;
  border: grey solid 1px;
  margin: 15px;
  border-radius: 0.25rem;
}

.caja img {
  max-height: 234px;
  width: 100%;
  height: 55vw;
  box-shadow: grey 0px 8px 25px;
  border-radius: 0;
}

.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
}

.caja6 {
  grid-area: caja6;
}

.caja7 {
  grid-area: caja7;
}

.caja8 {
  grid-area: caja8;
}

.caja9 {
  grid-area: caja9;
}

.caja10 {
  grid-area: termos1;
}

.caja10 img {
  max-height: 500px;
  height: 100%;
}

.caja11 {
  grid-area: termos2;
}

.caja12 {
  grid-area: termos3;
}

.caja13 {
  grid-area: termos4;
}

.caja14 {
  grid-area: termos5;
}

.caja15 {
  grid-area: termos6;
}

.caja16 {
  grid-area: termos7;
}

.titulos {
  text-align: center;
  font-size: 25px;
  margin: 45px auto;
  border: 1px solid grey;
  width: 110px;
  height: 40px;
}

.caja:hover {
  border: bisque solid 1px;
}

/* CONTACTO */
#mainContacto {
  font-family: "Barlow", sans-serif;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
}

.fondoContacto {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: grey 0px 5px 15px;
}

.tituloContacto {
  height: 500px;
}

.tituloContacto div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  text-align: center;
  margin: 0 20px;
}

.tituloContacto div p {
  color: beige;
  font-size: 15px;
}

.tituloContacto div p:first-of-type {
  font-size: 30px;
  padding-bottom: 25px;
}

.contenedorContacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -80px;
}

.consulta {
  background-color: white;
  max-width: 85%;
  margin: 15px;
}

.contacto {
  background-color: white;
  margin: 15px;
  max-width: 85%;
}

.redesContacto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.redesContacto img {
  height: 60px;
  width: 60px;
}

.redesContacto div img {
  height: 40px;
  width: 40px;
}

.redesContacto p:first-of-type {
  font-size: 30px;
}

.botonContacto {
  background-color: bisque;
  font-size: 20px;
  border: grey 1px solid;
  max-width: 70%;
}

.botonContacto a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.botonContacto a:hover {
  color: darksalmon;
}

/* NOSOTROS */
.quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
}

.pareja img {
  box-shadow: grey 0px 5px 15px;
  border-radius: 30px;
  width: 60%;
  margin: 15px;
}

.pareja {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-fluid {
  background-color: bisque;
}

.navbar-dark .navbar-toggler {
  border: 1px solid grey;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem;
}

/* CUIDADOS */
.contenedorCuidados {
  margin: 15px;
}

.contenedorCuidados h1 {
  text-align: center;
  font-weight: bold;
  border: 1px solid gray;
}

.cuidados {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 25px;
}

.cuidados__titulo p {
  padding: 10px;
  font-weight: bold;
  border: 2px solid bisque;
  margin: 10px 0;
}

.text-transition {
  display: flex;
  margin: 15px auto;
  width: 100%;
}

.cuidados__grid {
  display: flex;
  flex-direction: column;
}

.cuidados__grid p {
  margin: 5px;
}

.cuidados__grid img {
  margin: auto 15px;
}

/* MOBILE GRANDE */
@media (min-width: 500px) {
  /* HEADER/FOOTER */
  nav ul li {
    margin: 5px 14px;
  }
  /* INICIO */
  .fondo {
    height: 500px;
  }
  .eslogan {
    height: 500px;
  }
  #carouselExampleFade {
    width: 70%;
    margin: 0 auto;
  }
  /* CONTACTO */
  .contenedorContacto {
    flex-wrap: nowrap;
  }
  .redesContacto {
    min-height: 80%;
  }
  /* NOSOTROS */
  .pareja img {
    width: 40%;
    margin: 10px 15px;
  }
  /* CUIDADOS */
  .contenedorCuidados {
    max-width: 500px;
    margin: 15px auto;
  }
  /* PRODUCTOS */
  .productos {
    max-width: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3" "caja4 caja5 caja6" "caja7 caja8 caja9";
  }
  .productos-style-1 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "termos1 termos2 termos3" "termos1 termos4 termos5" "termos6 termos7 termos7";
  }
  .caja img {
    max-height: 265px;
  }
  .caja10 img {
    max-height: 365px;
  }
}
/* TABLET */
@media (min-width: 800px) {
  /* HEADER/FOOTER */
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .contenedor-ubicacion {
    order: 1;
  }
  .contenedor-footer {
    order: 2;
  }
  .contenedor-contacto {
    order: 3;
  }
  /* INICIO */
  .esloganFlex p {
    margin-top: 60px;
  }
  #carouselExampleFade {
    width: 60%;
    margin: 0 auto;
  }
  h2 {
    width: 50%;
    margin: 70px auto;
  }
  .border-img {
    width: 40%;
  }
  /* CUIDADOS */
  .contenedorCuidados {
    max-width: 800px;
  }
}
/* ESCRITORIO */
@media (min-width: 992px) {
  /* HEADER/FOOTER */
  .marca .logo {
    display: flex;
  }
  .marca {
    padding: 30px 0;
    height: 150px;
    text-align: center;
  }
  nav ul li {
    text-align: center;
    margin: 15px 30px;
  }
  .navbar-dark {
    visibility: hidden;
  }
  footer .siguenos {
    margin: 20px 0;
  }
  /* INICIO */
  .eslogan {
    width: 450px;
    height: 500px;
    margin: 0 auto;
  }
  .esloganFlex {
    height: 500px;
    width: 100%;
  }
  .boton a:hover {
    color: darksalmon;
  }
  .boton:hover {
    -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
  }
  @-webkit-keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  .boton {
    width: 80%;
    height: 70px;
    font-size: 25px;
  }
  .contenedor {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 25px;
  }
  #carouselExampleFade {
    width: 50%;
    margin: 0 auto;
  }
  .border-img {
    margin: 30px auto;
  }
  .tiposdemate .card {
    max-width: none;
    width: 75%;
    margin: 0 auto;
  }
  .tiposdemate .card img {
    width: 100%;
    margin: 0;
    border-radius: 10px;
  }
  .tiposdemate .card p {
    padding: 0;
  }
  .tiposdemate .card:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
  @keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
  /* CONTACTO */
  .fondoContacto {
    background-position: right center;
  }
  .tituloContacto {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
  .redesContacto {
    height: 350px;
    margin: 0 60px;
  }
  /* NOSOTROS */
  .quienesSomos__segundo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
  .pareja img {
    margin: 50px 20px;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.8s;
  }
  .pareja img:hover {
    transform: translateY(-5%);
  }
  .quienesSomos p {
    width: 410px;
    font-size: 20px;
    margin: 10px 15px;
  }
  .quienesSomos__primero h1 {
    max-height: 46px;
    font-size: 45px;
  }
  /* PRODUCTOS */
  .productos {
    max-width: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3 caja4" "caja5 caja5 caja6 caja6" "caja7 caja8 caja8 caja9" "termos1 termos2 termos3 termos4" "termos1 termos5 termos6 termos7";
  }
  .productos-style-1 {
    grid-template-columns: 350px 1fr 1fr 1fr;
    align-items: stretch;
  }
  .caja img {
    max-height: 290px;
  }
  .caja10 img {
    max-height: 500px;
  }
  .caja:hover {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes slide-fwd-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: perspective(180px) translateZ(10px);
    }
  }
  /* CUIDADOS */
  .contenedorCuidados {
    max-width: 992px;
    margin: 30px auto;
  }
  .cuidados__grid {
    width: 100%;
    transition-property: all;
    transition-duration: 0.5s;
  }
  .cuidados__texto {
    font-size: 25px;
  }
  .cuidados__grid p {
    font-size: 20px;
  }
  .cuidados__titulo p {
    font-size: 28px;
  }
  .text-transition:hover {
    transform: translateX(4%);
  }
  .text-transition {
    transition-property: all;
    transition-duration: 0.5s;
  }
}/*# sourceMappingURL=estilos.css.map */