#mainContacto {
    font-family: 'Barlow', sans-serif;
    background-color: rgb( 244, 244, 244);
    font-weight: bold;
}
.fondoContacto {
    height: 500px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: $box-shadow;
    @media(min-width:992px){
        background-position: right center;
    }
}
.tituloContacto {
    height: 500px;
    div {
        @include display-direction-justify (flex, column, center);
        height: 500px;
        text-align: center;
        margin: 0 20px;
        h1 {
            margin: 0;
            color: beige;
            font-size: 30px;
            padding-bottom: 45px;
            text-shadow: none;
        }
        p {
            color: beige;
            font-size: 15px;
        }
    }
    @media(min-width:992px){
        @include size (800px, 500px);
        margin: 0 auto;
    }
}
.contenedorContacto {
    @include display-direction-justify (flex, row, center);
    flex-wrap: wrap;
    position: relative;
    top: -80px;
    @media(min-width:500px){
        flex-wrap: nowrap;
    }
}
.consulta {
    background-color: white;
    max-width: 85%;
    margin: 15px;
}
.contacto {
    background-color: white;
    margin: 15px;
    max-width: 85%;
}
.redesContacto {
    @include display-direction-justify (flex, column, space-evenly);
    margin: 10px;
    align-items: center;
    text-align: center;
    padding: 20px;
    img {
        @include size (60px, 60px);
    }
    div img {
        @include size (40px, 40px);
    }
    h2 {
        font-weight: 800;
        font-size: 30px;
    }
    @media(min-width:500px){
        min-height: 80%;
    }
    @media(min-width:992px){
        height: 350px;
        margin: 0 60px;
    }
}
.botonContacto {
    background-color: $color-general;
    font-size: 20px;
    border: grey 1px solid;
    max-width: 70%;
    a {
        text-decoration: none;
        color: black;
        letter-spacing: 5px;
        font-weight: bold;
        &:hover{
            color: $color-hover;
        }
    }
}