.contenedorCuidados {
    margin: 15px;
    h1 {
        text-align: center;
        font-weight: bold;
        border: 1px solid gray;
    }
}

.cuidados {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 25px;
}

.cuidados__titulo p {
    padding: 10px;
    font-weight: bold;
    border: 2px solid bisque;
    margin: 10px 0;
}

.text-transition {
    display: flex;
    margin: 15px auto;
    width: 100%;
}

.cuidados__grid {
    display: flex;
    flex-direction: column;
    p {
        margin: 5px;
    }
    img {
        margin: auto 15px;
    }
}