.contenedorCuidados {
    padding: 15px;
    @media(min-width:500px){
        max-width: 500px;
        margin: 0px auto;
    }
    @media(min-width:800px){
        max-width: 800px;
    }
    @media(min-width:992px){
        max-width: 992px;
    }
}
.fondoCuidados {
    margin-bottom: 30px;
    height: 400px;
    box-shadow: $box-shadow;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/fondoCuidados2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-weight: bold;
        color: $color-general;
        margin: 0px auto;
        padding: 60px 20px 20px;
    }
    p {
        font-weight: bold;
        color: white;
        padding: 20px;
        margin-top: 50px;
        @media(min-width:500px){
            padding: 20px 40px;
        }
        @media(min-width:800px){
            font-size: 20px;
        }
        @media(min-width:992px){
            font-size: 25px;
            padding: 20px 200px;
        }
    }
}
.cuidados {
    @include display-direction-justify (flex, column, none);
    justify-items: center;
    align-items: center;
    margin: 0 auto 25px;
    width: 100%;
}
.cuidados__titulo {
    width: 100%;
    .btn-primary {
        width: 100%;
        font-size: 18px;
        color: black;
        background-color: $color-general;
        padding: 10px 0;
        font-weight: bold;
        border: 1px solid black;
        margin: 10px 0;
        &:hover {
            color: $color-hover;
        }
        &:focus{
            box-shadow: none
        }
        @media(min-width:992px){
            font-size: 25px;
        }
    }
}
.text-transition {
    display: flex;
    margin: 15px auto;
    width: 100%;
    @media(min-width:992px){
        transition-property: all;
        transition-duration: 0.5s;
    }
    &:hover {
        @media(min-width:992px){
            transform: translateX(2%);
        }
    }
}
.cuidados__grid {
    @include display-direction-justify (flex, column, none);
    p {
        margin: 5px;
        @media(min-width:992px){
            font-size: 20px;
        }
    }
    img {
        margin: auto 15px;
    }
    @media(min-width:992px){
        width: 100%;
        transition-property: all;
        transition-duration: 0.5s;
    }
}
