@media(min-width:992px){

    /* HEADER/FOOTER */
    
    .marca .logo {
        display: flex;
    }
    
    .marca {
        padding: 30px 0;
        height: 150px;
        text-align: center;
    }
    
    nav ul li {
        text-align: center;
        margin: 15px 30px;
    }
    
    .navbar-dark {
        visibility: hidden;
    }
    
    footer .siguenos {
        margin: 20px 0;
    }
    
    /* INICIO */
    
    .eslogan {
        width: 450px;
        height: 500px;
        margin: 0 auto;
    }
    
    .esloganFlex{
        height: 500px;
        width: 100%;
    }
    
    .boton a:hover { 
        color: darksalmon;
    }
    
    .boton:hover {
        animation: jello-horizontal 0.9s both;
    }
    
    @keyframes jello-horizontal {
        0% {
          transform: scale3d(1, 1, 1);
        }
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          transform: scale3d(1, 1, 1);
        }
      }
    
    .boton {
        width: 80%;
        height: 70px;
        font-size: 25px;
    }
    
    .contenedor {
        max-width: 1000px;
        margin: 0 auto;
        font-size: 25px;   
    }
    
    #carouselExampleFade {
        width: 50%;
        margin: 0 auto;
    }
    
    .border-img {
        margin: 30px auto;
    }
    
    .tiposdemate .card {
        max-width: none;
        width: 75%;
        margin: 0 auto;
    }
    
    .tiposdemate .card img {
        width: 100%;
        margin: 0;
        border-radius: 10px;
    }
    
    .tiposdemate .card p {
        padding: 0;
    }
    
    .tiposdemate .card:hover {
        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    @keyframes slide-fwd-center {
       0% {
       transform: translateZ(0);
       }
       100% {
       transform: perspective(180px) translateZ(10px);
       }
    }
    
    
    /* CONTACTO */
    
    .fondoContacto {
        background-position: right center;
    }
    
    .tituloContacto {
        width: 800px;
        height: 500px;
        margin: 0 auto;
    }
    
    .redesContacto {
        height: 350px;
        margin: 0 60px;
    }
    
    
    /* NOSOTROS */
    
    .quienesSomos__segundo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }
    
    .pareja img {
        margin: 50px 20px;
        border-radius: 30px;
        transition-property: all;
        transition-duration: 0.8s;
    }
    
    .pareja img:hover{
        transform: translateY(-5%);
    }
    
    .quienesSomos p {
        width: 410px;
        font-size: 20px;
        margin: 10px 15px;
    }
    
    .quienesSomos__primero h1 {
        max-height: 46px;
        font-size: 45px ;
    }
    
    /* PRODUCTOS */
    
    .productos {
        max-width: none;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2 caja3 caja4"
        "caja5 caja5 caja6 caja6"
        "caja7 caja8 caja8 caja9"
    
        "termos1 termos2 termos3 termos4"
        "termos1 termos5 termos6 termos7"
      
    }
    
    .productos-style-1 {
        grid-template-columns: 350px 1fr 1fr 1fr;
        align-items: stretch;
    }
    
    .caja img {
        max-height: 290px;
    }
    
    .caja10 img {
        max-height: 500px;
    }
    
    .caja:hover {
        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    @keyframes slide-fwd-center {
       0% {
       transform: translateZ(0);
       }
       100% {
       transform: perspective(180px) translateZ(10px);
       }
    }
    
    /* CUIDADOS */
    
    .contenedorCuidados {
        max-width: 992px;
        margin: 30px auto;
    }
    
    .cuidados__grid {
        width: 100%;
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    .cuidados__texto {
        font-size: 25px;
    }
    
    .cuidados__grid p {
        font-size: 20px;
    }
    
    .cuidados__titulo p {
        font-size: 28px;
    }
    
    .text-transition:hover{
        transform: translateX(4%);
    }
    
    .text-transition {
        transition-property: all;
        transition-duration: 0.5s;
    }
    
    }