footer {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: grey 0px 5px 15px;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    margin: 25px 0;
}

.contenedor-ubicacion{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    width: 250px;
    font-weight: bold;
    margin: 25px 0;
}

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    width: 250px;
    font-weight: bold;
    margin: 25px 0;
}

.contenedor-footer .logo img {
    width: 130px;
}

.contenedor-footer .redes img {
    width: 40px;
}