footer {
    background-color: $color-general;
    @include display-direction-justify (flex, column, space-around);
    align-items: center;
    box-shadow: $box-shadow;
    @media(min-width:800px){
        @include display-direction-justify (flex, row, space-around);
    }
    .siguenos {
        @media(min-width:992px){
            margin: 20px 0;
        }
    }
}
.contenedor-footer {
    @include display-direction-justify (flex, column, none);
    font-size: 30px;
    align-items: center;
    margin: 25px 0;
    .logo img {
        width: 130px;
    }
    .redes img {
        width: 40px;
    }
    @media(min-width:800px){
        order: 2;
    }
}
.contenedor-ubicacion{
    @include display-direction-justify (flex, column, none);
    align-items: center;
    font-size: 15px;
    width: 250px;
    font-weight: bold;
    margin: 25px 0;
    @media(min-width:800px){
        order: 1;
    }
}
.contenedor-contacto {
    @extend .contenedor-ubicacion;
    @media(min-width:800px){
        order: 3;
    }
}