* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    margin: 20px auto;
    text-shadow: $h1-shadow;
    @media(min-width:800px){
        margin: 40px auto;
        font-size: $h1-fontsize;
    }
}
h2 {
    font-size: 15px;
    padding: 10px 0px;
    margin-bottom: 0;
    @media(min-width:500px) {
        font-size: 20px;
    }
    @media(min-width:800px){
        font-size: 25px;
    }
}
.contenedor{
    margin: 40px 10px;
    @media(min-width:500px){
        font-size: 20px;
    }
    @media(min-width:800px) {
        margin: 40px 30px;
        font-size: 23px;
    }
    @media(min-width:992px){
        max-width: 1000px;
        margin: 40px auto;
        font-size: 25px; 
    }
}