.quienesSomos {
    @include display-direction-justify (flex, column, none);
    align-items: center;
    margin: 0 15px;
    p{
        @media(min-width:992px){
            width: 410px;
            font-size: 20px;
            margin: 10px 15px;
        }
    }
}
.quienesSomos__segundo {
    @media(min-width:992px){
        @include display-direction-justify (flex, row, space-between);
        flex-wrap: wrap;
        padding: 20px 0;
        .historia-uno {
            order: 1
        }
        .historia-dos {
            order: 3
        }
        .historia-tres {
            order: 5
        }
        .historia-cuatro {
            order: 7
        }
        .historia-cinco {
            order: 2
        }
        .historia-seis {
            order: 4
        }
        .historia-siete {
            order: 6
        }
        .historia-ocho {
            order: 8
        }
    }
}
.pareja {
    @include display-direction-justify (flex, row, space-around);
    flex-wrap: wrap;
    img {
        box-shadow: $box-shadow;
        border-radius: 30px; 
        width: 60%;
        margin: 15px;
        @media(min-width:500px){
            width: 40%;
            margin: 10px 15px;
        }
        @media(min-width:992px){
            margin: 50px 20px;
            border-radius: 30px;
            transition-property: all;
            transition-duration: 0.8s;
        }
        &:hover {
            @media(min-width:992px){
                transform: translateY(-5%);
            }
        }
    }
}