.quienesSomos {
    @include display-direction-justify (flex, column, none);
    align-items: center;
    p{
        @media(min-width:992px){
            width: 410px;
            font-size: 20px;
            margin: 10px 15px;
        }
    }
}
.quienesSomos__segundo {
    @media(min-width:992px){
        @include display-direction-justify (flex, row, space-between);
        flex-wrap: wrap;
        padding: 20px 0;
    }
}
.pareja {
    @include display-direction-justify (flex, row, space-around);
    flex-wrap: wrap;
    img {
        box-shadow: $box-shadow;
        border-radius: 30px; 
        width: 60%;
        margin: 15px;
        @media(min-width:500px){
            width: 40%;
            margin: 10px 15px;
        }
        @media(min-width:992px){
            margin: 50px 20px;
            border-radius: 30px;
            transition-property: all;
            transition-duration: 0.8s;
        }
        &:hover {
            @media(min-width:992px){
                transform: translateY(-5%);
            }
        }
    }
}