.container {
    width: auto;
}
.productos {
    margin: 0 auto 30px;
    max-width: 410px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja5"
    "caja7 caja9"
    "caja6 caja6"
    "caja8 caja8";
    @media(min-width:500px){
        max-width: 700px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2 caja3"
        "caja4 caja6 caja6"
        "caja7 caja8 caja8"
        "caja5 caja5 caja9";
    }
    @media(min-width:992px){
        max-width: none;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2 caja3 caja4"
        "caja5 caja5 caja6 caja6"
        "caja7 caja8 caja8 caja9"
    }
}
.productos-style-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja10 caja11"
    "caja12 caja13"
    "caja14 caja15"
    "caja16 caja17";
    @media(min-width:500px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "caja10 caja11 caja12"
        "caja13 caja14 caja15"
        "caja16 caja17 none";
    }
    @media(min-width:992px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: stretch;
        grid-template-areas: 
        "caja10 caja11 caja12 caja13"
        "caja14 caja15 caja16 caja17";
    }
}
.caja {
    text-align: center;
    border: grey solid 1px;
    margin: 10px;
    border-radius: 0.25rem;
    #carouselExampleFade{
        width: 100%;
    }
    p {
        font-size: 75%;
        font-weight: 600;
        margin: 0.5rem ;
    }
    img {
        object-fit: cover;
        width: 100%;
        box-shadow : $box-shadow ;
        border-radius: 0;
        @media(min-width:500px){
            max-height: 225px;
        }
        @media(min-width:992px){
            max-height: 280px;
        }
    }
    &:hover {
        border: $color-general solid 1px;
        @media(min-width:992px){
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}
@media(min-width:992px){
    @keyframes slide-fwd-center {
        0% {
        transform: translateZ(0);
        }
        100% {
        transform: perspective(180px) translateZ(10px);
        }
     }
}
.caja1 {
    grid-area: caja1;
}
.caja2 {
    grid-area: caja2;
}
.caja3 {
    grid-area: caja3;   
}
.caja4 {
    grid-area: caja4;
}
.caja5 {
    grid-area: caja5;
}
.caja6 {
    grid-area: caja6;
}
.caja7 {
    grid-area: caja7;
}
.caja8 {
    grid-area: caja8;
}
.caja9 {
    grid-area: caja9;
}
.caja10 {
    grid-area: caja10;
}
.caja11 {
    grid-area: caja11;
}
.caja12 {
    grid-area: caja12;
}
.caja13 {
    grid-area: caja13;
}
.caja14 {
    grid-area: caja14;
}
.caja15 {
    grid-area: caja15;
}
.caja16 {
    grid-area: caja16;
}
.caja17 {
    grid-area: caja17;
}
.titulos {
    text-align: center;
    font-size: 25px;
    margin: 45px auto;
    border: 1px solid grey;
    width: 170px;
}
.btn {
    background-color: $color-general;
    border: 1px grey solid;
    color: black;
    margin: 0.5rem;
    font-weight: 800;
    &:hover{
        background-color: $color-general;
        border-color: $color-general;
    }
    &:focus{
        background-color: $color-general;
        border-color: $color-general;
        box-shadow: 0 0 0 0.25rem $color-general;
    }
}
