.container {
    width: auto;
}
.productos {
    margin: 0 auto 30px;
    max-width: 410px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja6"
    "caja7 caja8"
    "caja9 caja9";
    @media(min-width:500px){
        max-width: 700px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2 caja3"
        "caja4 caja5 caja6"
        "caja7 caja8 caja9";
    }
    @media(min-width:992px){
        max-width: none;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "caja1 caja2 caja3 caja4"
        "caja5 caja5 caja6 caja6"
        "caja7 caja8 caja8 caja9"
    
        
    }
}
.productos-style-1 {
    grid-template-areas: 
    "termos1 termos1"
    "termos1 termos1"
    "termos3 termos4"
    "termos2 termos5"
    "termos6 termos7";
    @media(min-width:500px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "termos1 termos2 termos3"
        "termos1 termos4 termos5"
        "termos6 termos7 termos7";
    }
    @media(min-width:992px){
        grid-template-columns: 350px 1fr 1fr 1fr;
        align-items: stretch;
        grid-template-areas: 
        "termos1 termos2 termos3 termos4"
        "termos1 termos5 termos6 termos7";
    }
}
.caja {
    text-align: center;
    border: grey solid 1px;
    margin: 15px;
    border-radius: 0.25rem;
    img {
        @include size (100%, 55vw);
        max-height: 234px;
        box-shadow : $box-shadow ;
        border-radius: 0;
        @media(min-width:500px){
            max-height: 265px;
        }
        @media(min-width:992px){
            max-height: 290px;
        }
    }
    &:hover {
        border: $color-general solid 1px;
        @media(min-width:992px){
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}
@media(min-width:992px){
    @keyframes slide-fwd-center {
        0% {
        transform: translateZ(0);
        }
        100% {
        transform: perspective(180px) translateZ(10px);
        }
     }
}
.caja1 {
    grid-area: caja1;
}
.caja2 {
    grid-area: caja2;
}
.caja3 {
    grid-area: caja3    
}
.caja4 {
    grid-area: caja4
}
.caja5 {
    grid-area: caja5
}
.caja6 {
    grid-area: caja6;
}
.caja7 {
    grid-area: caja7 
}
.caja8 {
    grid-area: caja8;
}
.caja9 {
    grid-area: caja9;
}
.caja10 {
    grid-area: termos1;
    img{
        max-height: 500px;
        height: 100%;
        @media(min-width:500px){
            max-height: 365px;
        }
        @media(min-width:992px){
            max-height: 500px;
        }
    }
}
.caja11 {
    grid-area: termos2;
}
.caja12 {
    grid-area: termos3;
}
.caja13 {
    grid-area: termos4;
}
.caja14 {
    grid-area: termos5;
}
.caja15 {
    grid-area: termos6;
}
.caja16 {
    grid-area: termos7;
}
.titulos {
    text-align: center;
    font-size: 25px;
    margin: 45px auto;
    border: 1px solid grey;
    width: 110px;
}